
@{
    Layout = null;
    string nomeAnterior = "";
    string senhaAnterior = "";
    string emailAnterior = "";
    string dataAnterior = "";
    if (ViewBag.usuarioAnterior != null)
    {
        nomeAnterior = ViewBag.usuarioAnterior.Nome;
        senhaAnterior = ViewBag.usuarioAnterior.Senha;
        emailAnterior = ViewBag.usuarioAnterior.Email;
        DateTime d = ViewBag.usuarioAnterior.DataNascimento;
        dataAnterior = d.Year.ToString().PadLeft(4, '0') + "-" + d.Month.ToString().PadLeft(2, '0') + "-" + d.Day.ToString().PadLeft(2, '0');
        ViewBag.usuarioAnterior = null;
    }

    string alerta = "";
    if (Session["Message"] != null)
    {
        alerta = (string)Session["Message"];
    }
    Session["Message"] = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/cadastro.css">
    <title>Cadastrar</title>
</head>
<body>

    <section id="teste" class="container">
        <div>
            <h1 class="heading">Cadastro:</h1>
            <div class="card-wrapper">
                <img src="~/Images/Mick_Cadastro.png" alt="Alternate Text" id="mick" />
                <form action="/Home/CadastroDeUsuario" method="post" id="form">
                    <label class="info">Nome: </label><br /><input class="txtCampos" value="@nomeAnterior" type="text" name="u.Nome" placeholder="Ex: JoãozinGameprays" /><br />
                    <br />
                    <label class="info">Senha: </label><br /><input class="txtCampos" value="@senhaAnterior" type="password" name="u.Senha" placeholder="Senha" /><br />
                    <br />
                    <label class="info">Email: </label><br /><input class="txtCampos" value="@emailAnterior" type="email" name="u.Email" placeholder="Ex: jgameprays@email.com" /><br />
                    <br />
                    <label class="info">Nascimento: </label><br />
                    <input value="@dataAnterior" class="txtCampos" type="date" name="u.DataNascimento" /><br />
                    <br />
                    <input value="Cadastrar" type="submit" />
                </form>
            </div>
        </div>
    </section>

    <section id="bg-modal">
        <div id="modal-content">
            <img src="/Images/erro.png" alt="Alternate Text" id="erro-img" />
            <p hidden id="valido">@ViewBag.valido</p>
            <p id="msg">
                @Html.ValidationMessage("u.Nome") <br />
                @Html.ValidationMessage("u.Senha")<br />
                @Html.ValidationMessage("u.Email")<br />
                @Html.ValidationMessage("u.DataNascimento")<br />
            </p>
            <input type="button" id="btn-ok" value="Entendido" />
        </div>
    </section>

    <script>
        if ('@alerta' != '')
            alert('@alerta');
    </script>
    <script src="~/Scripts/modalErro.js"></script>
</body>
</html>
