
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <link rel="stylesheet" href="~/Content/sobre.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Sobre</title>
</head>
<body>

    <div id="filtro"></div>

    <div id="video">
        <h1>SOBRE O BIOPLAY</h1>
        <video preload="auto" autoplay="true" loop="loop" muted="muted" width="100%;">
            <source src="~/Images/Bastidores/BioPlay.mp4" type="video/mp4">
        </video>
    </div>

    <br /><br />

    <h1>O que é o BioPlay?</h1>

    <br /><br />

    <div>
        <video controls="controls" loop="loop" muted="muted" width="60%;">
            <source src="~/Images/Bastidores/BioPlay.mp4" type="video/mp4">
        </video>
    </div>

    <p>
        O BioPlay é um site interativo no qual você pode aprender sobre o meio ambiente e sustentabilidade com muita diversão!
        Contamos com muitas lições de diferentes temas para você aprender e praticar.
        Você também pode adicionar amigos para ter diversão em conjunto. Se tiver alguma dúvida ou sugestão, publique em nosso fórum!
    </p>

    <hr />

    <br /><br />

    <div id="cv" class="container2">
        <h1>As 12 cidades mais poluídas do mundo</h1>
        <h2>Dados da Organização Mundial da Saúde</h2>
        <p id="quantidade" hidden>@ViewBag.cidades.Count</p>
        @for (int i = 0; i < ViewBag.cidades.Count; i++)
        {
            string nome = "nome" + i;
            string pol = "poluicao" + i;
            <p id="@nome" hidden>@ViewBag.cidades[i].Nome (@ViewBag.cidades[i].Pais)</p><p id="@pol" hidden>@ViewBag.cidades[i].Poluicao</p>
        }
        <canvas id="canvas"></canvas>
    </div>
    <h3>Nosso e-mail para contato: bioplayofficial@gmail.com</h3>
    <script src="~/Scripts/pareto.js"></script>
</body>
</html>
