
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Sobre</title>
</head>
<body>
    <h1>O que é o BioPlay?</h1>
    <p>O BioPlay é um site interativo no qual você pode aprender sobre o meio ambiente e sustentabilidade com muita diversão!</p>
    <p>Contamos com muitas lições de diferentes temas para você aprender e praticar.</p>
    <p>Você também pode adicionar amigos para ter diversão em conjunto. Se tiver alguma dúvida ou sugestão, publique no nosso forum!</p>
    <h1>As 12 cidades mais poluídas do mundo</h1>
    <h2>Dados da Organização Mundial da Saúde</h2>
    <p id="quantidade" hidden>@ViewBag.cidades.Count</p>
    @for (int i = 0; i < ViewBag.cidades.Count; i++)
    {
        string nome = "nome" + i;
        string pol = "poluicao" + i;
        <p id="@nome" hidden>@ViewBag.cidades[i].Nome (@ViewBag.cidades[i].Pais)</p><p id="@pol" hidden>@ViewBag.cidades[i].Poluicao</p>
    }
    <canvas id="canvas"></canvas>
    <script src="~/Scripts/pareto.js"></script>
</body>
</html>
