
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Sobre</title>
</head>
<body>
    <p id="quantidade" hidden>@ViewBag.problemas.Count</p>
    @for (int i = 0; i < ViewBag.problemas.Count; i++)
    {
        string nome = "nome" + i;
        string ocasioes = "ocasioes" + i;
        <p id="@nome" hidden>@ViewBag.problemas[i].Nome</p><p id="@ocasioes" hidden>@ViewBag.problemas[i].Ocasioes</p>
    }
    <canvas id="canvas"></canvas>
    <script src="~/Scripts/pareto.js"></script>
</body>
</html>
