
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <link rel="stylesheet" href="~/Content/menu.css">
    <link rel="stylesheet" href="~/Content/forum.css">
    <link rel="stylesheet" href="~/Content/notificacao.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>BioPlay - Forum</title>
</head>
<body>
    <header id="mobile">
        <ul>
            <li><img id="notificacao" src="~/Images/ISino.png" alt=""></li>
            <li><img id="star" class="star" src="~/Images/IEstrela.png" alt=""></li>
            <li><h1>@ViewBag.usuario.Nivel</h1></li>
            <li><h1 id="nick">@ViewBag.usuario.Nome</h1></li>
        </ul>
    </header>

    <div id="desktop">
        <img src="~/Images/logoMobile.png" alt="">
        <ul>
            <li><a href="/Licoes">Início</a></li>
            <li><a href="/Licoes/Perfil">Perfil</a></li>
            <li><a id="inicio" href="/Licoes/Forum">Fórum</a></li>

            <div id="info">
                <li><a id="pontos2"><img src="~/Images/IEstrela.png" alt=""></a></li>
                <li><h1>@ViewBag.usuario.Nivel</h1></li>
                <li><img id="notificacao2" src="~/Images/ISino.png" alt=""></li>
                <li><h1 id="nick">@ViewBag.usuario.Nome</h1></li>
            </div>
        </ul>
    </div>

    <div id="usuario">
        <ul>
            <a href="/Licoes" id="inicio"><img src="~/Images/IHome.png" alt=""></a>
            <a href="/Licoes/Perfil" id="perfil"><img src="~/Images/IPerfil.png" alt=""></a>
            <a href="/Licoes/Forum" id="forum"><img src="~/Images/IForum.png" alt=""></a>
        </ul>
    </div>

    <div id="form">
        <form action="/Licoes/Publicar" method="post">
            <h1>FAÇA SUA PERGUNTA!</h1>
            <input id="texto" name="pub.Conteudo" placeholder="Pergunte aqui" type="text" />
            <input name="pub.CodUsuario" hidden type="text" /><br />
            <input type="submit" value="Publicar" />
        </form>
    </div>

    <section id="sInformacao">
        <div id="informacao">
            @foreach (apBioPlay.Models.Publicacao pub in ViewBag.publicacoes)
            {
                string stringBotao = pub.CodUsuario == ViewBag.usuario.Codigo ? "" : "hidden";
                var usuAtual = new apBioPlay.DAO.UsuariosDAO().Buscar(o => o.Codigo == pub.CodUsuario);

                <div id="publicacao">
                    <div id="excluir" @stringBotao>
                        <!--<a href="/Licoes/ExcluirPublicacao/pub.Codigo"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
                        @Html.ActionLink("X", "ExcluirPublicacao", new { codPub = pub.Codigo })
                    </div>
                    <div id="usuPub">
                        <div id="fotoUsu">
                            <img src=@usuAtual.FotoPerfil />
                        </div>
                        <h1 id="nomeUsu">@usuAtual.Nome</h1>
                    </div>
                    <div id="conteudo">
                        <h1 id="data">(@pub.Data.Day.ToString().PadLeft(2, '0')/@pub.Data.Month.ToString().PadLeft(2, '0')/@pub.Data.Year) - @pub.Data.Hour.ToString().PadLeft(2, '0'):@pub.Data.Minute.ToString().PadLeft(2, '0')</h1>
                        <p id="texto">@pub.Conteudo</p>
                        @Html.ActionLink("Visualizar", "VerPublicacao", new { codP = pub.Codigo })
                    </div>
                </div>
            }
        </div>
    </section>

    <section id="bg-modal">
        <div id="modal-content">
            <ul>
                <li><img src="~/Images/ISino.png" alt="Alternate Text" /></li>
                <li><h1>Notificações</h1></li>
            </ul>
            <label id="close">X</label>
            <hr />
            @foreach (apBioPlay.Models.Notificacao n in ViewBag.notificacoes)
            {
                <div id="card-link">
                    @Html.ActionLink(n.Texto, "Notificacao", new { codN = n.Codigo })
                </div>
            }
        </div>
    </section>

</body>
    <script src="~/Scripts/notificacao.js"></script>
</html>
