
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/menu.css">
    <link rel="stylesheet" href="~/Content/forum.css">
    <title>BioPlay - Forum</title>
</head>
<body>
    <header id="mobile">
        <ul>
            <a href="" id="notificacao"><img src="~/Images/ISino.png" alt=""></a>
            <a href="" id="pontos"><img src="~/Images/IEstrela.png" alt=""></a>
            <h1>0</h1>
            <h1 id="nick">@ViewBag.usuario.Nome</h1>
        </ul>
    </header>

    <div id="desktop">
        <img src="~/Images/logoMobile.png" alt="">
        <ul>
            <li><a id="inicio" href="/Licoes/Index">Início</a></li>
            <li><a href="/Licoes/Perfil">Perfil</a></li>
            <li><a href="/Licoes/Forum">Fórum</a></li>

            <div id="info">
                <li><a href="" id="pontos2"><img src="~/Images/IEstrela.png" alt=""></a></li>
                <li><h1>@ViewBag.usuario.Nivel</h1></li>
                <li><h1 id="nick">@ViewBag.usuario.Nome</h1></li>
            </div>
        </ul>
    </div>

    <div id="usuario">
        <ul>
            <a href="/Licoes/Index" id="inicio"><img src="~/Images/IHome.png" alt=""></a>
            <a href="/Licoes/Perfil" id="perfil"><img src="~/Images/IPerfil.png" alt=""></a>
            <a href="/Licoes/Forum" id="forum"><img src="~/Images/IForum.png" alt=""></a>
        </ul>
    </div>
    <section id="sInformacao">
        <div id="informacao">
            @foreach (apBioPlay.Models.Publicacao pub in ViewBag.publicacoes)
            {
                var usuAtual = new apBioPlay.DAO.UsuariosDAO().Buscar(o => o.Codigo == pub.CodUsuario);

                <div id="publicacao">
                    <div id="usuPub">
                        <h1 id="nomeUsu">@usuAtual.Nome</h1>
                        <div id="fotoUsu">
                            <img src=@usuAtual.FotoPerfil />
                        </div>
                    </div>
                    <div id="conteudo">
                        <h1 id="data">@pub.Data</h1>
                        <p id="texto">@pub.Conteudo</p>
                        @Html.ActionLink("Visualizar", "VerPublicacao", new { codP = pub.Codigo })
                    </div>
                </div>
             }
        </div>
    </section>
</body>
</html>
