
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/menu.css">
    <link rel="stylesheet" href="~/Content/licoes.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>BioPlay - Lições</title>
</head>
<body>
    <header id="mobile">
        <ul>
            <a href="" id="notificacao"><img src="~/Images/ISino.png" alt=""></a>
            <a href="" id="pontos"><img src="~/Images/IEstrela.png" alt=""></a>
            <h1>@ViewBag.usuario.Nivel</h1>
            <h1 id="nick">@ViewBag.usuario.Nome</h1>
        </ul>
    </header>

    <div id="desktop">
        <img src="~/Images/logoMobile.png" alt="">
        <ul>
            <li><a id="inicio" href="/Licoes/Index">Início</a></li>
            <li><a href="/Licoes/Perfil">Perfil</a></li>
            <li><a href="/Licoes/Forum">Fórum</a></li>

            <div id="info">
                <li><a id="pontos2"><img src="~/Images/IEstrela.png" alt=""></a></li>
                <li><h1>@ViewBag.usuario.Nivel</h1></li>
                <li><h1 id="nick">@ViewBag.usuario.Nome</h1></li>
            </div>
        </ul>
    </div>

    <div id="usuario">
        <ul>
            <a href="/Licoes/Index" id="inicio"><img src="~/Images/IHome.png" alt=""></a>
            <a href="/Licoes/Perfil" id="perfil"><img src="~/Images/IPerfil.png" alt=""></a>
            <a href="/Licoes/Forum" id="forum"><img src="~/Images/IForum.png" alt=""></a>
        </ul>
    </div>

    <!-- LIÇÕES -->

    <section id="teste">
        <div>
            <h1 class="heading">Lições</h1>
            <div class="card-wrapper">
                @foreach (apBioPlay.Models.Licao l in ViewBag.licoes)
                {
                    <div class="card">
                        <img src="@l.UrlImagem" alt="card background" class="card-img">
                        <h1>@l.Nome</h1>
                        <a href="#">Iniciar</a>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- MODAL NOTIFICAÇÕES -->

    <section id="bg-modal">
        <div id="modal-content">
            <ul>
                <li><img src="~/Images/ISino.png" alt="Alternate Text" /></li>
                <li><h1>Notificações</h1></li>
            </ul>
        </div>
    </section>
</body>
</html>
