
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/pergunta.css" />
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>Pergunta</title>
</head>
<body>
    <section id="home-hero">
        <div class="container">
            <a href="#" id="voltar">Voltar para lições&nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <h1>@ViewBag.pergunta.Texto</h1>
            <img src="@ViewBag.pergunta.UrlImagem" />
            <form action="/Licoes/ProximaPergunta">
                <input type="text" hidden id="selecionada" value="0" name="indResp">
                <ul>
                    @for (int ind = 0; ind < ViewBag.pergunta.QtdRespostas; ++ind)
                    {
                        var resp = ViewBag.respostas[ind];
                        string p = "pic" + (ind + 1);
                        string r = "resp" + (ind + 1);
                        <li>
                            @if (ind == 0)
                            {
                                <input type="radio" name="pic" id="@p" checked />
                            }
                            else
                            {
                                <input type="radio" name="pic" id="@p" />
                            }

                            <label for="@p"><img src=@resp.UrlImagem></label>
                            <p id="@r" class="r">@resp.Texto</p>

                        </li>
                    }
                </ul>
                <hr />
                <input id="enviar" value="Enviar resposta" type="submit" />
            </form>
        </div>
    </section>

    <section id="bg-modal">
        <div id="modal-confirm">
            <h1>Você tem certeza que deseja voltar? Todo seu progresso será perdido!</h1>
            <br /><br /><br />
            <a href="#" id="nao">NÃO</a>
            <a href="/Licoes">SIM</a>
            <br /><br />
        </div>
    </section>

    <script src="~/Scripts/pergunta.js"></script>
    <script src="~/Scripts/modalConfirm.js"></script>
</body>
</html>
