
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/pergunta.css" />
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Pergunta</title>
</head>
<body>
    <section id="home-hero">
        <div class="container">k

            <h1>@ViewBag.pergunta.Texto</h1>
            <img src= "@ViewBag.pergunta.UrlImagem" />
            <form action="/Licoes/ProximaPergunta">
                <input type="text" hidden id="selecionada" value="0" name="indResp">
                <ul>
                    @for (int ind = 0; ind < ViewBag.pergunta.QtdRespostas; ++ind)
                    {
                        var resp = ViewBag.respostas[ind];
                        string p = "pic" + (ind + 1);
                        string r = "resp" + (ind + 1);
                        <li>
                            <input type="radio" name="pic" id="@p" />
                            <label for="@p"><img src=@resp.UrlImagem></label>
                            <h1 id="@r">@resp.Texto</h1>
                        </li>
                    }
                </ul>
                <hr />
                <input value="Enviar resposta" type="submit" />
            </form>            
        </div>
    </section>
    <script src="~/Scripts/pergunta.js"></script>
</body>
</html>
