
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/menu.css">
    <link rel="stylesheet" href="~/Content/notificacao.css">
    <link rel="stylesheet" href="~/Content/forum.css">
    <link rel="stylesheet" href="~/Content/verPublicacao.css">
    <title>BioPlay - Publicação</title>
</head>
<body>
    <header id="mobile">
        <ul>
            <li><img id="notificacao" src="~/Images/ISino.png" alt=""></li>
            <li><img id="star" class="star" src="~/Images/IEstrela.png" alt=""></li>
            <li><h1>@ViewBag.usuario.Nivel</h1></li>
            <li><h1 id="nick">@ViewBag.usuario.Nome</h1></li>
        </ul>
    </header>

    <div id="desktop">
        <img src="~/Images/logoMobile.png" alt="">
        <ul>
            <li><a href="/Licoes">Início</a></li>
            <li><a href="/Licoes/Perfil">Perfil</a></li>
            <li><a id="inicio" href="/Licoes/Forum">Fórum</a></li>

            <div id="info">
                <li><a id="pontos2"><img src="~/Images/IEstrela.png" alt=""></a></li>
                <li><h1>@ViewBag.usuario.Nivel</h1></li>
                <li><img id="notificacao2" src="~/Images/ISino.png" alt=""></li>
                <li><h1 id="nick">@ViewBag.usuario.Nome</h1></li>
            </div>
        </ul>
    </div>

    <div id="usuario">
        <ul>
            <a href="/Licoes" id="inicio"><img src="~/Images/IHome.png" alt=""></a>
            <a href="/Licoes/Perfil" id="perfil"><img src="~/Images/IPerfil.png" alt=""></a>
            <a href="/Licoes/Forum" id="forum"><img src="~/Images/IForum.png" alt=""></a>
        </ul>
    </div>
    <section id="sInformacao">
        <div id="informacao">
            <h1 id="title">PERGUNTA:</h1>
            <div id="publicacao">
                <div id="usuPub">
                    <h1 id="nomeUsu">@ViewBag.usuarioPublicacao.Nome</h1>
                    <div id="fotoUsu">
                        <img src=@ViewBag.usuarioPublicacao.FotoPerfil />
                    </div>
                </div>
                <div id="conteudo">
                    <h1 id="data">(@ViewBag.publicacao.Data.Day.ToString().PadLeft(2, '0')/@ViewBag.publicacao.Data.Month.ToString().PadLeft(2, '0')/@ViewBag.publicacao.Data.Year) - @ViewBag.publicacao.Data.Hour.ToString().PadLeft(2, '0'):@ViewBag.publicacao.Data.Minute.ToString().PadLeft(2, '0')</h1>
                    <p id="texto">@ViewBag.publicacao.Conteudo</p>
                </div>
            </div>                                                                 

            <form action="/Licoes/Responder" id="form">
                <h1>Sabe a resposta? Responda aqui!</h1>
                <input id="texto" name="resp.Conteudo" type="text" placeholder="Sua resposta"/>
                <input value="Responder" type="submit" />
            </form>

            <h1 id="title">RESPOSTA(S):</h1>
            @foreach (apBioPlay.Models.RespostaPublicacao resp in ViewBag.respostas)
            {
                var usuAtual = new apBioPlay.DAO.UsuariosDAO().Buscar(o => o.Codigo == resp.CodUsuario);

                <div id="resp_publicacao">
                    <div id="usuPub">
                        <h1 id="nomeUsu">@usuAtual.Nome</h1>
                        <div id="fotoUsu">
                            <img src=@usuAtual.FotoPerfil />
                        </div>
                    </div>
                    <div id="conteudo">
                        <h1 id="data">(@resp.Data.Day.ToString().PadLeft(2, '0')/@resp.Data.Month.ToString().PadLeft(2, '0')/@resp.Data.Year) - @resp.Data.Hour.ToString().PadLeft(2, '0'):@resp.Data.Minute.ToString().PadLeft(2, '0')</h1>
                        <p id="texto">@resp.Conteudo</p>
                    </div>
                </div>
            }

        </div>
    </section>
    <section id="bg-modal">
        <div id="modal-content">
            <ul>
                <li><img src="~/Images/ISino.png" alt="Alternate Text" /></li>
                <li><h1>Notificações</h1></li>
            </ul>
            <label id="close">X</label>
            <hr />
            @foreach (apBioPlay.Models.Notificacao n in ViewBag.notificacoes)
            {
                <div id="card-link">
                    @Html.ActionLink(n.Texto, "Notificacao", new { codN = n.Codigo })
                </div>
            }
        </div>
    </section>
    <script src="~/Scripts/notificacao.js"></script>
</body>
</html>
