
@{
    Layout = null;
    string stringBotao = (ViewBag.usuario.Codigo == ViewBag.visualizado.Codigo ? "" : "hidden");
    string stringBotao2 = (ViewBag.usuario.Codigo != ViewBag.visualizado.Codigo ? "initial" : "hidden");

    string msg = (string) Session["Message"];
    Session["Message"] = "";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/perfil.css" />
    <link rel="stylesheet" href="~/Content/modalErro.css" />
    <link rel="stylesheet" href="~/Content/modalAmigo.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>BioPlay - Perfil</title>
</head>
<body>
    <section id="bg-hero"></section>


    <section id="menuH">
        <div id="header">
            <a href="/Licoes/Deslogar" id="casa" style="visibility: @stringBotao"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <a href="/Licoes" id="casa"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="#" id="alter" style="visibility: @stringBotao">Alterar Perfil</a>
        </div>
    </section>

    <section id="home-hero">
        <div class="container">
            <div id="card1">
                <div id="foto">
                    <img src="@ViewBag.visualizado.FotoPerfil" alt="Alternate Text" />
                </div>

                <div id="user-info">
                    <h1 id="nickname">@ViewBag.visualizado.Nickname</h1>

                    <div id="wow">
                        <a id="novoAmigo" href="/Licoes/tratarAmizade/@ViewBag.visualizado.Codigo/@ViewBag.situacao" style="visibility: @stringBotao2">@ViewBag.situacao</a>
                        <ul>
                            <li><img id="star" src="~/Images/IEstrela.png" alt="Alternate Text" /></li>
                            <li><h1 id="lvl">Nível: @ViewBag.visualizado.Nivel</h1></li>
                            <li><img id="bolin" src="~/Images/bolin.png" alt="Alternate Text" /></li>
                            <li><h1 id="dn">Data de Nascimento: @ViewBag.visualizado.DataNascimento.Day.ToString().PadLeft(2, '0')/@ViewBag.visualizado.DataNascimento.Month.ToString().PadLeft(2, '0')/@ViewBag.visualizado.DataNascimento.Year</h1></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="content-info">
                <div class="cardGraphic">
                    <div class="center-graphic">
                        <h1>Estatísticas</h1>
                        <p id="pr">Perguntas respondidas: @ViewBag.dados[0]</p>
                        <p id="qtd0" hidden>@ViewBag.dados[1]</p>
                        <p id="qtd1" hidden>@ViewBag.dados[2]</p>
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>

            <div id="content-info">
                <div class="cardAmigos">
                    <h1>Amigos</h1>

                    <ul>
                        @if (ViewBag.amigos != null)
                        {
                            foreach (apBioPlay.Models.Usuario amigo in ViewBag.amigos)
                            {
                                <li>@Html.ActionLink(amigo.Nickname, "Visualiza", new { codU = amigo.Codigo })</li>
                            }
                        }
                    </ul>

                    <button class="botao" style="visibility: @stringBotao">Adicionar Novo</button>
                </div>
            </div>

            <div id="content-info">
                <div class="danger-zone">
                    <h1>Zona de perigo</h1>
                    <a href="/Licoes/ExcluirConta">Excluir conta</a>
                </div>
            </div>

        </div>
    </section>

    <section id="modal-perfil">
        <div id="modal-content">

            <div id="close">X</div>

            <h1>Escolha seu avatar!</h1>

            <form action="/Licoes/Alterar" method="post">
                <input type="text" hidden id="selecionada" value=@ViewBag.usuario.FotoPerfil name="fotoPerfil">
                <ul>
                    <li>
                        @if (ViewBag.usuario.FotoPerfil == "/Images/FotosPerfil/pic1.png")
                        {
                            <input type="radio" name="pic" id="pic1" checked />
                        }
                        else
                        {
                            <input type="radio" name="pic" id="pic1" />
                        }
                        <label for="pic1"><img src="~/Images/FotosPerfil/pic1.png"></label>
                    </li>
                    <li>
                        @if (ViewBag.usuario.FotoPerfil == "/Images/FotosPerfil/pic2.png")
                        {
                            <input type="radio" name="pic" id="pic2" checked />
                        }
                        else
                        {
                            <input type="radio" name="pic" id="pic2" />
                        }
                        <label for="pic2"><img src="~/Images/FotosPerfil/pic2.png"></label>
                    </li>
                    <li>
                        @if (ViewBag.usuario.FotoPerfil == "/Images/FotosPerfil/pic3.png")
                        {
                            <input type="radio" name="pic" id="pic3" checked />
                        }
                        else
                        {
                            <input type="radio" name="pic" id="pic3" />
                        }
                        <label for="pic3"><img src="~/Images/FotosPerfil/pic3.png"></label>
                    </li>
                    <li>
                        @if (ViewBag.usuario.FotoPerfil == "/Images/FotosPerfil/pic4.png")
                        {
                            <input type="radio" name="pic" id="pic4" checked />
                        }
                        else
                        {
                            <input type="radio" name="pic" id="pic4" />
                        }
                        <label for="pic4"><img src="~/Images/FotosPerfil/pic4.png"></label>
                    </li>
                    <li>
                        @if (ViewBag.usuario.FotoPerfil == "/Images/FotosPerfil/pic5.png")
                        {
                            <input type="radio" name="pic" id="pic5" checked />
                        }
                        else
                        {
                            <input type="radio" name="pic" id="pic5" />
                        }
                        <label for="pic5"><img src="~/Images/FotosPerfil/pic5.png"></label>
                    </li>
                </ul>

                <h1>Configurações avançadas:</h1>


                <h2>Alterar senha:</h2>
                <input type="password" name="senhaAnt" value="" class="txtCampos" placeholder="Senha antiga" />
                <input type="password" name="senhaNov" value="" class="txtCampos" placeholder="Nova senha" /><br />
                <input type="submit" value="Enviar alterações" />

            </form>


        </div>
    </section>

    <section id="bg-modal">
        <div id="modal-content">
            <img src="/Images/erro.png" alt="Alternate Text" id="erro-img" />
            <p id="msg">
                @msg
            </p>
            <input type="button" id="btn-ok" value="Entendido" />
        </div>
    </section>

    <section id="black-content">
        <div id="modal-amigos">
            <a href="#">X</a>
            <img src="~/Images/INovoAmigo.png" alt="Alternate Text" />
            <h1>Adicionar amigo:</h1>

            <form action="/Licoes/BuscaUsuarios" method="post">
                <input id="caixa" name="nickname" placeholder="Insira o nickname aqui" type="text" /><br />
                <input type="submit" value="Buscar" />
            </form>

        </div>
    </section>


</body>
</html>

<script src="~/Scripts/perfil.js"></script>
<script src="~/Scripts/licoes.js"></script>
<script src="~/Scripts/modalPerfil.js"></script>